[submodule "include/fontstash"]
	path = include/fontstash
	url = https://github.com/memononen/fontstash
[submodule "include/sokol"]
	path = include/sokol
	url = https://github.com/floooh/sokol
[submodule "include/sokol_gp"]
	path = include/sokol_gp
	url = https://github.com/edubart/sokol_gp/
